Requests I've Made

<ul>
  <% @requests_from_user.each do |request| %>
    <li class='request'>
      <%= request.space_name %>, <%= request.confirmed %>, <%= request.date %>  <a href=/spaces/<%= request.space_id %>> [View this Space]</a>
    </li>
  <% end %>
</ul>

Requests I've Received

<ul>
  <% @requests_to_user.each do |request| %>
    <li class='request'>
      <%= request.space_name %>, <%= request.confirmed %>, <%= request.date %>  <a href=/requests/<%= request.id %>> [View this Request]</a>
    </li>
  <% end %>
</ul>
