<div class='head'>
  <ul>
    <li>
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign Out"/>
      </form>
    </li>
    <li>
      <a href='/requests'><button>Requests</button></a>
    </li>
    <li>
      <a href='/spaces'><button>Spaces</button></a>
    </li>
  </ul>
</div>

<h1 class='logo'> MAKERS<br>BnB </h1>

<br>

Space:<br>
<%= @space.name %><br><br>
Description:<br>
<%= @space.description %><br><br>
Price per Night:<br>
£<%= @space.price %><br><br>
Availabilitly:<br>
<%= @space.start_date %> - <%= @space.end_date %><br><br>



<% if @user %>
Pick dates to request a booking <br><br>
  <form action=<%= "/requests/#{@space.id}" %> method='post'>
    Check-in:
      <input type='date' name='check_in' min=<%= @space.start_date %> max=<%= @space.end_date %>><br><br>
    Check-out:
      <input type='date' name='check_out' min=<%= @space.start_date %> max=<%= @space.end_date %>><br><br>
    <input type='submit' value='Request to Book'>
  </form>
<% end %>

<% unless @user %>
Sign In or Sign Up to Request Booking
<form action='/' method='get'>
  <input type='submit' value='Sign Up'>
</form>
<form action='/sessions/new' method='get'>
  <input type='submit' value='Sign In'>
</form>
<% end %>
