<h1>Welcome, <%= @user.username %>!</h1>
<h3>
  <%= flash[:notice] %>
</h3>

<% unless @user %>
  <form action='/' method='get'>
    <input type='submit' value='Sign Up'>
  </form>
  <form action='/sessions/new' method='get'>
    <input type='submit' value='Sign In'>
  </form>
<% end %>

<table cellspacing="20px"> 
<% @spaces.each do |space| %>
  <tr class='space'><td><%= space.name %>, <%= space.description %>, £<%= space.price %> per night <a href=/spaces/<%= space.id %>> [View this space]</a></td></tr>
  <br>
<% end %>
</table>
<br><br>

<% if @user %>
  <form action='/spaces/new' method='GET'>
    <input type='submit' value='Add space'>
  </form>
<% end %>

<br>

