<div class='head'>
  <ul>
    <li>
      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign Out"/>
      </form>
    </li>
    <li>
      <a href='/requests'><button>Requests</button></a>
    </li>
    <li>
      <a href='/spaces'><button>Spaces</button></a>
    </li>
  </ul>
</div>

<h1 class='logo'> MAKERS<br>BnB </h1>

<br>

<h1>Welcome, <%= @user.username %>!</h1>

<% if @user %>
  <form action='/spaces/new' method='GET'>
    <input type='submit' value='Add space'>
  </form>
<% end %>

<br><br>
<form action='/spaces' method='get'>

Check-in:
  <input type='date' name='start_date' min=<%= DateTime.now.strftime("%Y-%m-%d") %>>

Check-out:
  <input type='date' name='end_date' min=<%= DateTime.now.strftime("%Y-%m-%d") %>><br><br>

  <input type='submit' value='Search Spaces'>
  </p>
</form>

<br>

<table cellspacing="20px"> 
  <% @spaces.each do |space| %>
    <tr class='space'>
      <td>
        <a class='space_click' href=/spaces/<%= space.id %>>
          <div>
            <u>Space: </u><%= space.name %><br><u>Description: </u><br><%= space.description %><br><u>Availabilitly:</u><%= space.start_date %> - <%= space.end_date %><br><u>Price per Night: </u>£<%= space.price %><br>
          </div>
        </a>
      </td>
    </tr>
  <% end %>
</table>
<br><br>

